.parallax-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/icons/01d.png');
    background-size: cover;
    z-index: -1;
  }
  
  .parallax-midground {
    position: relative;
    height: 70vh;
    z-index: 0;
    background-color: red;
  }
  
  .parallax-foreground {
    position: relative;
    height: 70vh;
    background-color: pink;
    z-index: 1;
  }